html, body {
  margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;
  background-color: #000;
}
canvas#vrum-dom {
  width: 100%;
  height: 100%;
  touch-action: none; /* needed to prevent default for virtualjoystick */
}
