html, body {
  margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;
  background-color: #000;
}
canvas#vrum-dom {
  width: 100%;
  height: 100%;
  touch-action: none; /* needed to prevent default for virtualjoystick */
  /* z-index: 10000; */
}

canvas {
  /* z-index: 10001; */
}

.controls {
  position: absolute;
  padding: 10px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  display: none;
  /* z-index: 10002; */
  pointer-events: none;
}

.simple-keyboard {
  position: absolute;
  bottom: 0px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}
